* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Serif", serif;
}

body {
  background-color: #0d5dadd3;
  color: #22223b;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 100px;
}

.logo {
  width: 250px;
  height: 170px;
  display: block;
  margin: 10px auto 2px;
}

h1 {
  
  text-align: center;
  color: #2D9CDB;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 20px;


}

main {
  width: 375px;
  height: 770px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 44px 24px 23px;
  background: #FFFFFF;
  border: 5px solid #2D9CDB; /* Adicione esta linha */
}

label {
  color: #4A4E69;
  font-weight: 400;
  font-size: 14px;
}

select, input {
  width: 327px;
  height: 50px;
  border-radius: 10px;
  background-color: #F0F4F8;
  border: 1px solid #2D9CDB;
  margin-bottom: 16px;
  padding: 0 16px;
  font-size: 16px;
  color: #22223B;
}

button {
  width: 327px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #8A51FC;
  color: #FFFFFF;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

button:hover { opacity: 0.8; }
button:active { opacity: 0.6; }

section {
  margin-top: 27px;
  width: 327px;
  height: 327px;
  border-radius: 20px;
   border: 2px solid #2D9CDB;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-img {
  width: 50px;
  height: 50px;
  margin: 15px 0;
}

.currency-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.currency {
  font-size: 16px;
  color: #333;
}

.currency-value,
.currency-value-to-convert {
  font-size: 20px;
  font-weight: 700;
    color: #27AE60;
}
.currency-box img,
.currency-box .currency,
.currency-value,
.currency-value-to-convert {
    transition: all 0.3s ease;
}
.currency-value.highlight,
.currency-value-to-convert.highlight {
    background-color: #e5d7ff;
    border-radius: 8px;
    padding: 4px 8px;
    animation: pulse 0.4s ease;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.07); }
    100% { transform: scale(1); }
}

